* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	font-size: 15px;
	color: white;
}

content {
	display: block;
	height: 100%;
	width: 100%;
}

.content-top {
	margin: 0 auto;
	width: 30%;
	height: 25%;
	background: green;
	margin-bottom: 20px;
	margin-top: 20px;
}

.content-bottom {
	margin: 0 auto;
	padding: 40px;
	width: 40%;
	height: 45%;
	background: blue;
}