* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	font-size: 15px;
}

content {
	display: block;
	height: 100%;
	width: 100%;
}

.content-top {
	margin: 0 auto;
	width: 35%;
	height: 35%;
	background: white;
	margin-bottom: 20px;
	margin-top: 20px;
}

.content-bottom {
	margin: 0 auto;
	padding: 40px;
	width: 35%;
	height: 35%;
	background: white;
	border: 10px solid blue;
}