* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	height: 100vh;
	font-size: 12px;
	padding: 5px;
}

#img {
	display: inline-block;
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

content {
	display: block;
	overflow: hidden;
	margin: 0 auto;
	min-height: 100px;
	min-width: 550px;
	width: 550px;
	background: blue;
	color: white;
}